// colors

$aqua: #04b8b9;
$dark-aqua: #009799;
$error-yellow: #8a6d3b;
$error-bg-yellow: #fcf8e3;
$grey: #333;
$light-tang: #fc6;
$off-white: #f6f6f6;
$success-green: #00994b;
$tang: #ffac06;
$wool: #e8e8e8;
