@import 'zf_settings';
@import 'variables';
@import '../../bower_components/foundation-sites/scss/foundation';

@include foundation-everything;

// debug
//
// @media #{$medium-up} {
//   .header { background: #990 !important; }
// }
//
// @media #{$large-up} {
//   .header { background: #f00 !important; }
// }
//
// @media #{$xlarge-up} {
//   .header { background: #0f0 !important; }
// }
//
// @media #{$xxlarge-up} {
//   .header { background: #00f !important; }
// }

body {
  color: $grey;
  font-family: 'Lato', sans-serif;
}

// header

.header {
  background: url('../images/aqua_wash_wall.png') top center repeat $dark-aqua;
  border-bottom: 1px solid $dark-aqua;
  color: $wool;
  text-transform: uppercase;

  h1 {
    color: $off-white;
    font-size: 8vw;
    font-weight: 700;
    line-height: 36px;
    margin: 10px 0 0;
  }

  h2 {
    font-size: 2.76vw;
    line-height: 2.96vw;
    margin: 0 0 10px;
  }

  a {
    color: $wool;

    &:hover {
      color: $tang;
    }
  }

  button {
    background: $wool;
    border-radius: 24px;
    color: $grey;
    margin: 16px 0 0;

    &:hover {
      background: $tang;
    }
  }

  ul {
    display: block;
    height: 100px;
    line-height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    height: 14px;
    margin: 0;
    padding: 0;

    a {
      border-right: 1px solid $wool;
      display: block;
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      padding: 0 12px;
    }

    &:last-child {
      a {
        border-right: 0;
      }
    }
  }

  .right {
    text-align: right;
  }
}

@media #{$medium-up} {
  .header {
    h1 {
      font-size: 36px;
      line-height: 36px;
      margin-top: 20px;
    }

    h2 {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 20px;
    }
  }
}

@media #{$large-up} {
  .header {
    h1 {
      font-size: 48px;
      line-height: 48px;
      margin-top: 20px;
    }

    h2 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 20px;
    }
  }
}

// /header

// hero

.hero {
  background: url('../images/hero_bg.jpg') $grey top center no-repeat;
  background-size: cover;
  border-bottom: 1px solid $grey;
  color: $wool;
  font-weight: 700;
  max-height: 455px;
  min-height: 350px;
  padding: 5% 0 0;
  position: relative;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .9);

  a {
    color: $aqua;

    &:hover {
      color: $tang;
    }
  }

  h3 {
    color: $light-tang;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .indent {
    padding-left: 10px;
  }

  .hero-meta {
    bottom: 0;
    display: block;
    font-size: 14px;
    left: 2vw;
    line-height: 16px;
    padding: 10px 0;
    position: absolute;
    width: 94vw;

    .status,
    .social {
      display: block;
      width: 100%;
    }

    .status {
      float: left;
      max-width: 300px;
    }

    .social {
      float: left;
    }

    .where {
      color: darken($wool, 15%);
      font-weight: 400;
      padding-left: 5px;
    }
  }

  .social {
    ul {
      margin-top: 10px;
    }

    li {
      display: inline-block;
      margin-right: 8px;
    }

    a {
      background: $dark-aqua;
      border-radius: 15px;
      color: $off-white;
      display: inline-block;
      font-size: 24px;
      height: 32px;
      position: realtive;
      text-align: center;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      width: 32px;

      &:hover {
        background: $tang;
      }
    }

    .fa-github {
      left: 1px;
    }

    i {
      position: relative;
      top: -3px;
    }

    .letterboxd {
      i {
        font-size: 20px;
        position: relative;
        top: -5px;
      }
    }
  }
}

@media #{$medium-only} {
  .hero {
    min-height: 410px;
    padding: 5.5% 0 0;

    h3 {
      font-size: 36px;
      line-height: 42px;
    }

    .indent {
      padding-left: 20px;
    }
  }
}

@media #{$medium-up} {
  .hero {
    .hero-meta {
      .social {
        float: right;
        text-align: right;
        width: auto;

        ul {
          margin-top: 52px;
        }

        li {
          margin-left: 8px;
          margin-right: 0;
        }
      }
    }
  }
}

@media #{$large-up} {
  .hero {
    height: 455px;
    min-height: 455px;
    padding: 4% 0 0;

    h3 {
      font-size: 60px;
      line-height: 72px;
    }

    .indent {
      padding-left: 36px;
    }
  }
}

@media #{$xlarge-up} {
  h3 {
    padding-left: 40px;
  }

  .hero {
    background-position: center 13%;
    padding: 0% 0 0;

    .hero-meta {
      left: 5vw;
      width: 90vw;
    }
  }
}

@media #{$xxlarge-up} {
  .hero {
    background-position: center 25%;
    padding: 5px 0 0;

    .tagline {
      font-size: 48px;
      line-height: 60px;
      margin-left: 35px;

      br {
        display: none;
      }

      .indent {
        padding-left: 0;
      }
    }

    .hero-meta {
      left: auto;
      width: 100%;

      .status {
        margin-left: 20%;
      }

      .social {
        margin-right: 20%;
      }
    }
  }
}

// /hero

// contact

.contact {
  background: url('../images/white_texture.png') top left repeat;
  padding-top: 10px;

  a {
    color: $dark-aqua;
    text-shadow: 0 0 1px rgba(0,0,0, .4);

    &:hover {
      color: $tang;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  textarea {
    height: 120px;
  }

  .copy p {
    font-size: 14px;
    line-height: 18px;
  }

  .button {
    background-color: $aqua;
    border: 1px solid $dark-aqua;
    border-radius: 3px;
    font-size: 16px;
    padding: .55em 1em;
    width: 100%;

    &:hover {
      background-color: $tang;
      border-color: darken($tang, 15%);
    }
  }

  input,
  textarea {
    border-radius: 3px;
    margin-bottom: 16px;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: lighten($grey, 20%);
  }

  input::-moz-placeholder,
  textarea::-webkit-input-placeholder {
    color: lighten($grey, 20%);
  }

  input:-ms-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: lighten($grey, 20%);
  }

  input:-moz-placeholder,
  textarea::-webkit-input-placeholder {
    color: lighten($grey, 20%);
  }

  .loading {
    padding: 100px;
    text-align: center;
    width: 100%;
  }

  .success {
    border: 1px solid darken($success-green, 5%);
    border-radius: 3px;
    color: $success-green;
    height: 48px;
    line-height: 48px;
    margin: 124px 0;
    text-align: center;
  }

  .error {
    color: $error-yellow;
    line-height: 14px;
  }

  .validation.error {
    display: none;
    line-height: 14px;
    position: relative;
    top: -8px;
    left: 20px;
  }

  .is-invalid-input + .validation.error {
    display: block;
  }

  .error.message {
    background: $error-bg-yellow;
    border: 1px solid $error-yellow;
    border-radius: 3px;
    color: $error-yellow;
    line-height: 24px;
    margin: 0 0 10px;
    padding: 10px;
    text-align: center;

    a {
      color: $error-yellow;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  $error-yellow: #998b00;
}

@media #{$large-up} {
  .contact {
    padding-top: 20px;

    h4 {
      margin-bottom: 20px;
    }
  }
}

// /contact

// footer

.footer {
  background: url('../images/dirty_old_shirt.png') $grey center center repeat;
  color: $off-white;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 0 0;

  a {
    color: $aqua;

    &:hover {
      color: $tang;
    }
  }

  div {
    padding-bottom: 20px;
  }
}

@media #{$medium-up} {
  .footer {
    padding-top: 20px;
  }
}

// /footer

// sidebar

.off-canvas-wrapper {
  background: url('../images/dirty_old_shirt.png') $grey center center repeat;
}

.sidebar {
  background: transparent;
  color: $off-white;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    display: block;
    width: 100%;
  }

  a {
    color: $aqua;
    border-bottom: 1px solid $grey;
    border-top: 1px solid transparent;
    display: block;
    padding: 10px 0;
    text-indent: 20px;
    width: 100%;

    &:hover {
      color: $tang;
      background: rgba(0, 151, 153, 0.3);
      border-bottom: 1px solid $dark-aqua;
      border-top: 1px solid $dark-aqua;
    }
  }
}
