<div id="contact" class="outer contact">
  <div class="row">

    <div class="small-12 medium-5 large-5 columns copy">
      <p>Freelance developer and designer residing in Dallas, TX.</p>
      <p>I am passionate about the big picture, the small details, and nailing the hell out of both because there's no such thing as a million dollar idea, only a million dollar execution.</p>
      <p>I am a full-stack developer specializing in JavaScript and Python. I am most experienced developing single-page applications in AngularJS on top of backend services and RESTful APIs implemented in Express, Flask, and Django.</p>
      <p>I also have extensive experience with PHP, Wordpress, Drupal, web scraping, service oriented architecture, virtualization / containerization, configuration management, and Linux systems administration.</p>
      <p>I'm currently accepting new projects, if you're interested in working together, please drop me a line.</p>
      <p><a href="mailto:hi@alexmeswarb.com">hi@alexmeswarb.com</a></p>
    </div><!-- .copy -->

    <div class="small-12 medium-6 large-5 columns form">
      <h4>Get In Touch</h4>
      <div class="loading" style="display: none;">
        <object data="images/loading.svg" type="image/svg+xml"></object>
      </div>
      <div class="success" style="display: none;">
        <strong><em>Message received!</em></strong> I'll get back to you soon.
      </div>
      <div class="error message" style="display: none;">
        I'm sorry, an error has occurred. Please check your form details and try again or shoot me an email at <a href="mailto:hi@alexmeswarb.com">hi@alexmeswarb.com</a>.
      </div>
      <form id="contact-form" data-abide="ajax">
        <div class="row">
          <div class="small-12 columns input-wrapper">
            <input type="text" name="name" placeholder="Name" id="name" required>
            <small class="validation error">^ A valid name is required.</small>
          </div>
        </div><!-- .row -->

        <div class="row">
          <div class="small-12 columns input-wrapper">
            <input type="email" name="email" placeholder="Email" id="email" required>
            <small class="validation error">^ A valid email address is required.</small>
          </div>
        </div><!-- .row -->

        <div class="row">
          <div class="small-12 columns input-wrapper">
            <textarea name="comment" placeholder="Comment" required></textarea>
            <small class="validation error">^ A comment is required.</small>
          </div>
        </div><!-- .row -->

        <div class="row butan">
          <div class="small-12 medium-5 large-5 columns end">
            <input type="submit" class="button submit" value="Submit">
          </div>
        </div><!-- .row -->
      </form>
    </div><!-- .form -->

  </div><!-- .row -->
</div><!-- .contact -->
