<div class="outer footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      &copy; <%= new Date().getFullYear() %> Alex Meswarb
    </div>
    <div class="small-12 medium-6 large-5 columns">
      This website has been designed, developed, and is maintained by Alex Meswarb. It was built with <a href="http://harpjs.com/" target="_blank">Harp</a> and <a href="http://foundation.zurb.com/sites.html" target="_blank">Foundation for Sites</a>, hosted on <a href="https://pages.github.com/">GitHub Pages</a>, and may be redistributed following the terms of the <a href="https://github.com/ameswarb/ameswarb.github.io/blob/develop/LICENSE" target="_blank">alexmeswarb.com CPAL license</a>.
    </div>
  </div>
</div><!-- .footer -->
