<div class="outer header">
  <div class="row">

    <div class="small-10 medium-6 large-5 columns left">
      <h1>Alex Meswarb</h1>
      <h2>Full Stack Developer &amp; Designer | Dallas TX</h2>
    </div><!-- .header .left -->

    <div class="small-2 medium-6 columns hide-for-large right hamburger">
      <button type="button" class="button" data-toggle="offCanvas">
        <i class="fa fa-bars"></i>
      </button>
    </div><!-- .header .right -->

    <div class="large-7 columns show-for-large text-nav right">
      <ul>
        <%- partial('_nav_items') %>
      </ul>
    </div><!-- .header .right -->

  </div><!-- .row -->
</div><!-- .header -->
