<div class="outer hero">
  <div class="row">
    <div class="small-12 columns">
      <!-- <h3 class="tagline">Hi, my name is Alex and<br /> <span class="indent">I like to make cool stuff.</span></h3> -->
      <h3 class="tagline">My name is Alex.<br />
        I’m building your next product.</h3>
    </div>
  </div><!-- .row -->
  <div class="hero-meta">
    <div class="status">
      <h4>Currently</h4>
      <ul>
        <li>
          <span class="role">Founder, Programmer</span>
          <span class="where">
            <a href="https://ideacombine.com" target="_blank">ideacombine</a>
          </span>
        </li>
        <li>
          <span class="role">Software Consultant</span>
          <span class="where">Various Agencies</span>
        </li>
        <li>
          <span class="role">Bad at Video Games</span>
          <span class="where">Rocket League</span>
        </li>
      </ul>
    </div><!-- .status -->
    <div class="social">
      <ul>
        <li>
          <a href="https://keybase.io/alexmes" target="_blank">
            <i class="fa fa-key" title="Keybase"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ameswarb" target="_blank">
            <i class="fa fa-github" title="GitHub"></i>
          </a>
        </li>
        <li>
          <a href="https://dribbble.com/ameswarb" target="_blank">
            <i class="fa fa-dribbble" title="Dribbble"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/alexmes" target="_blank">
            <i class="fa fa-twitter" title="Twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/alexmeswarb" target="_blank">
            <i class="fa fa-linkedin" title="LinkedIn"></i>
          </a>
        </li>
        <li>
          <a class="letterboxd" href="http://letterboxd.com/ameswarb" target="_blank">
            <i class="fa fa-film" title="Letterboxd"></i>
          </a>
        </li>
        <li>
          <a href="https://www.reddit.com/user/ameswarb/" target="_blank">
            <i class="fa fa-reddit" title="Reddit"></i>
          </a>
        </li>
      </ul>
    </div><!-- .social -->
  </div><!-- .hero-meta -->
</div><!-- .hero -->
