<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Meswarb: Full Stack Designer &amp; Developer | Dallas, TX</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700'
          rel='stylesheet'
          type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
          rel='stylesheet'
          type='text/css'>
  </head>
  <body>
    <body>
      <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

          <div class="off-canvas sidebar position-left" id="offCanvas" data-off-canvas>
            <ul>
              <%- partial('_nav_items') %>
            </ul>
          </div><!-- .off-canvas.siderbar -->

          <div class="off-canvas-content main" data-off-canvas-content>
            <%- partial('_header') %>
          </div><!-- .main -->

        </div><!-- .off-canvas-wrapper-inner -->
      </div><!-- .off-canvas-wrapper -->
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
